<% provide(:title, '新規登録') %>
<div id='submit-form' class='col-12 col-sm-8 col-md-6'>
  <h3>新規登録</h3>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.text_field :username, autofocus: true, autocomplete: 'username', help: '半角英数字のみ' %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    <%= f.password_field :password, help: '6文字以上' %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
  <% end %>
  <p>or</p>
  <%= button_to 'ログインを行う', new_user_session_path, method: :get, class: 'btn btn-success btn-block' %>
</div>
