<%= link_to user_path(user), class: 'indx-info' do %>
  <div class='media col-sm-10 col-md-10'>
    <% unless user.image.file.nil? %>
      <%= image_tag user.image.to_s, class: 'mr-3' %>
    <% end %>
    <div class='media-body'>
      <h5><%= user.username %><span><%= "投稿数: #{user.posts.size}" %></span></h5>
      <%= user.introduce %>
    </div>
  </div>
<% end %>