<% provide(:title, @user.username) %>
<div id='user-profile' class='col-sm-8 col-md-8'>
  <% unless @user.image.file.nil? %>
    <%= image_tag @user.image.to_s, class: 'col-11 col-sm-6 col-md-6 col-lg-5 profile-img' %>
  <% end %>
  <h4 id='user-name'><%= @user.username %></h4>
  <% if current_user == @user %>
    <h6 id='user-address'><%= @user.email %></h6>
  <% end %>
  <% if @user.introduce.present? %>
    <div id='user-introduce' class='col-sm-7 col-md-7'>
      <%=safe_join(@user.introduce.split("\n"),tag(:br))%>
    </div>
  <% end %>
</div>
<% if @posts.present? %>
  <div id='indx-list' class='col-sm-8 col-md-8'>
    <h4><%= "#{@user.username}の投稿一覧" %></h4>
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
<% end %>