<div id='comment-field'>
  <% if comments.present? %>
    <h5>Comments</h5>
    <div id='comments-list'>
      <% comments.each do |comment| %>
        <div class='media'>
          <div class='image-dammy mr-3'></div>
          <div class='media-body'>
            <h6><%= comment.user.username %></h6>
            <p><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= bootstrap_form_for [post, comment] do |f| %>
    <%= f.text_area :content, label: 'コメント', help: '100字以内' %>
    <%= f.submit 'コメントする' %>
  <% end %>
</div>